<h1>Movie List</h1>

<div class="row">
    
    <table class="table">
        <tr>
            <th>Title</th>
            <th>lenght</th>
            <th>Rating</th>
            <th></th>
        </tr>
        <tr ng-repeat="movie in vm.movies">

            <td> <a ng-link="['Details',{id:movie.id}]" >{{movie.title}}</a></td>
            <td>{{movie.length}}</td>
            <td>
                <star-component rating="movie.rating">
                     <span class="glyphicon glyphicon-star" ></span>
                </star-component>
            </td>
            <td>
              <rating-component data="movie" rating="movie.rating" ></rating-component>

              <button ng-click="vm.goTo(movie.id)" class="btn btn-default">
                  <span class="glyphicon glyphicon-zoom-in"></span>
              </button>

            </td>
        </tr>
    </table>
</div>
    