<div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <h1  class="txt-header" >{{vm.title}}</h1>
                        <h3>{{vm.description}}</h3>
                        <hr class="intro-divider">
                        Rating: 
                        <star-component rating="vm.rating">
                            <span class="glyphicon glyphicon-star" ></span>
                        </star-component>
                        Length: {{vm.length}}
                        
                    </div>
                </div>
            </div>

        </div>

</div>